/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
.josefin-sans{
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
  }
  @import url('https://fonts.googleapis.com/css2?family=Playwrite+CU:wght@100..400&display=swap');
  .playwrite-cu{
    font-family: "Playwrite CU", cursive, sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
  }

  /* common class */
  *{
    font-family: "Josefin Sans";
    margin: 0;
    padding: 0;
    
    /* box-sizing: border-box; */
  }
  .body{
    /* border: 2px solid red; */
    max-width: 100vw;
    min-height: 100vh;
    font-size: 16px;
    /* overflow-x: hidden; */
    background-color: black;
  }
  /* Header section */
  .header{
    /* border: 3px dotted blue; */
    height: 90vh;
    background: linear-gradient(to bottom, rgba(17, 17, 17, 1),rgba(119, 119, 119, 0))
  }
  /* navigation */

  .navigation{
    width: 80vw;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    align-items: center;
    padding-top: 57px;
    /* background-color: transparent; */

  }
  .pag_name{
    color: rgba(230, 83, 60, 1);
    font-size: 2.25rem;
    font-style: italic;
    /* background-color: transparent; */
    
  }
  .nav_menu{
    
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 20px;
    display: flex;
    list-style: none;
    gap: 47px;
    color: white;
    align-items: center;
    justify-content: left;
    padding:0;
    /* background-color: transparent; */
    padding: 4px;
  }
  #home{
    padding: 8px 20px;
    background-color: rgba(230, 83, 60, 1);
    border-radius: 46px;
  }
  #menu_icon{
    display: none;
  }
/* banner section */
.banner{
  width: 80vw;
  height: 75vh;
  display: flex;
  justify-content: space-between;
  /* border: 2px solid green; */
  margin: 0px auto;
  margin-top: 2%;

}
.description{
    /* width: 30%; */
    /* border: 2px solid red; */
    color: white;
    margin: auto 0px;

}
.des_title{
    font-size: 4.875rem;
  
}
.des_subtitle{
    line-height: 24px;
    letter-spacing: 0.5px;
    margin: 28px 0;
    color: rgba(255, 255, 255, 0.5);
    
}
.button{
  background-color: transparent;
  display: flex;
  
}
.buttn1, .runbtn{
    color: white;
    padding: 16px 40px;
    background-color: rgba(230, 83, 60, 1);
    border: none;
    border-radius: 42px;
    font-size: 1.1125rem;
    font-weight: 600;
    margin-right: 14px;

    
}
.buttn2{
    color: white;
    padding:1rem 2.5rem;
    border-radius: 42px;
    font-size: 1.1125rem;
    font-weight: 600;
    background-color: black;
    border: 1px solid ;
}
.banner_img_tags_container{
  display: flex;
  flex-direction: column;
  
}
.banner_img{
  /* border: 3px dotted yellowgreen; */
  /* margin-top: 32px; */
  align-items: center;
  align-content: center;
  justify-content: center;
  justify-items: center;
  /* padding-right:140px; */
  
}

.golla{
  background-color: rgba(230, 83, 60, 1);
  height: 40px;
  width: 40px;
  border-radius: 50%;
}
.tute{
  /* border: 2px solid red; */
  width: 50%;
  height: 96px;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-evenly;
  position: relative;
  top: -120px;
  right:35px;
  background-color: rgba(48, 48, 48, 0.54);
  color: white;
  backdrop-filter: blur(5px);
  /* filter: blur(5px); */
  /* background-color: transparent; */
  border-radius: 12px;
}
.workout_video{
  width: 50%;
  height: 98px;
  color: white;
  background-color: rgba(48, 48, 48, 0.54);
  position:relative;
  top: -35.81rem;
  right: -11.625rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  backdrop-filter:blur(5px);
}

/* main part */
/* habits section */
.habits_section{
  max-width: 80vw;
  /* border: 2px solid red; */
  margin: 100px auto;
  text-align: center;
}
.habits_description{
  margin-bottom: 30px;
}
.habits_title{
  color: white;
  font-size:3rem;
}
.habits_subtitle{
  color:rgba(255, 255, 255, 0.5) ;
  margin: 20px;
}
.habits_container{
  display: flex;
  justify-content: space-between;
}
.habits{
  max-width: 231px;
}
.habit_title{
  color: white;
  margin: 25px 0 8px 0 ;
}
.habit_subtitle{
  color: rgba(255, 255, 255, 0.5);
}
.habits>img{
  border-radius: 50%;
}
/* Run section */
.run_section{
  width: 80vw;
  height: 50vh;
  /* border: 2px solid yellow; */
  margin: 0 auto;
  color: white;
  display: flex;
  justify-content: space-between;
  background-color: rgba(34, 34, 34, 1);
  border-radius: 35px;
}
.run_description{
  /* border: 2px solid lightgreen; */
  width: 50vw;
  align-content: center;
  padding: 40px;
  
}
.run_title{
  font-size: 3rem;
}
.run_subtitle{
  margin: 25px 0;
}
.runbtn{
  padding: 15px 73px;
}
.run_img{
  width: 40%;
  height: 90%;
  align-content: center;
  object-fit: cover;
  border-radius: 40px;
  padding: 20px;
  /* border: 2px dotted purple; */
}
/* responsive part  tablet*/
@media screen and (min-width:576.1px) and (max-width:992px){
  /* header section */
  .header{
    height: 160vh;
  }
  .banner{
    flex-direction: column;
    height: 150vh;
  }
  .banner_img{
    height: 80%;
    width: 70%;
    margin: 0 auto;
  }
  /* habits section */
  .habits_container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  /* run section */
  .run_section{
    max-height: 70vh;
  }
  .run_title{
    font-size: 2.5rem;
  }
}
/* responsive part for mobile */
@media screen and (max-width:576px) {
  *{
    font-size: 14px;
  }
  /* nav bar and banner section */
  .header{
    height: 1024px;
  }
  .banner{
    margin-top: 4%;
    flex-direction: column;
    height: 130vh;
  }
  .banner_img{
    height: 80%;
    width: 80%;
  }
  .nav_item{
    display: none;
  }
  #menu_icon{
    display:block;
  }
  .button{
    
    gap: 15px;
  }
  .tute{
    right:25px;
  }
  .workout_video{
    top: -35.81rem;
    right: -11.625rem;

  }
  .buttn1, .buttn2{
    padding: .5rem 1rem;
  }
  .banner_img_tags_container{
    margin-top: 30px;
  }
  .banner_img{
    margin: 0 auto;
  }
  /* habits section */
  .habits_container{
    display: grid;
    /* grid-template-columns: repeat(2 1fr); */
    gap: 20px;
    justify-content: center;

  }
  /* run section */
  .run_section{
    height: 80vh;
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .run_description{
    max-width: 287px;
    margin: 0 auto;
  }
  .run_title{
    font-size: 2rem;
  }
  .run_img{
    margin: 0 auto;
    width: 234px;
  }
  .runbtn{
    padding: 10px 50px
  }
}

